
<div class="dropdown dropdown-end">
  <label tabindex="0" class="btn btn-ghost btn-circle">
    <div class="indicator">
      🛒
      <span class="badge badge-sm indicator-item">{{ cart.length }}</span>
    </div>
  </label>
  <div tabindex="0" class="mt-3 z-[1] card card-compact dropdown-content w-72 bg-base-100 shadow">
    <div class="card-body">
      <span class="font-bold text-lg">{{ cart.length }} producto(s)</span>

      <div *ngIf="cart.length > 0; else vacio">
        <ul class="divide-y divide-neutral">
          <li *ngFor="let producto of cart" class="py-2">
            <p class="text-sm font-semibold">{{ producto.name }}</p>
            <p class="text-xs opacity-80">{{ producto.price}} €</p>
          </li>
        </ul>

        <div class="divider my-2"></div>
        <p class="text-right font-bold text-lg">
          Total: {{ total }} €
        </p>
        <!-- <button class="btn btn-primary w-full" (click)="checkout()">Ir al pago</button> -->
        <button class="btn btn-primary w-full" >Ir al pago</button>

      </div>

      <ng-template #vacio>
        <p class="text-sm text-center opacity-60">El carrito está vacío.</p>
      </ng-template>
    </div>
  </div>
</div>
